.DS_Store
*.pyc
*.adxv_beam_center

data_*
toRUN.py

absolute_scale.map
ano_sfall_debug.log
pristine.mtz
sharp_solvent.map
smooth_FC.txt
solvent_asu.map
temp.pdb
unsmooth_FC.txt
mlfsom.log
refined.pdb